BasedOnStyle: Google
TabWidth: 2
BreakBeforeBraces: Allman
ColumnLimit: 0
AlignAfterOpenBracket: DontAlign
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
PenaltyBreakBeforeFirstCallParameter: 0
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveAssignments: true
SpacesBeforeTrailingComments: 1
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: All
IndentPPDirectives: AfterHash
#AllowShortLiteralsOnASingleLine: true
#BracketAlignmentStyle: BAS_Align
