# Edrumulus specific
tools/artstar/
tools/aasimonster2/
tools/DRSKit/
tools/CrocellKit/
tools/edrumuluskit/
tools/drumgizmo/
tools/mod-ttymidi/
tools/SendMIDI/
tools/jack2/
tools/mapex_mars/
tools/gui
tools/EdrumulusGUI

hardware/prototype2/edrumulus-cache.lib
hardware/prototype2/edrumulus.sch-bak
hardware/prototype2/fp-info-cache
hardware/prototype2/edrumulus.kicad_pcb-bak

hardware/prototype4/edrumulus-cache.lib
hardware/prototype4/edrumulus.sch-bak
hardware/prototype4/fp-info-cache
hardware/prototype4/edrumulus.kicad_pcb-bak

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
