name: PlatformIO CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        example: [edrumulus.ino]

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cache/pip
          ~/.platformio/.cache
        key: ${{ runner.os }}-pio

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
          python-version: '3.x

    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade platformio setuptools wheel
        
    - name: Teensy - PlatformIO
      run: pio ci --lib="." --board=teensy36 --board=teensy40 --board=teensy41
      env:
        PLATFORMIO_CI_SRC: ${{ matrix.example }}
        PLATFORMIO_BUILD_FLAGS: -D USB_MIDI

    - name: ESP32 - PlatformIO
      run: |
        pio lib -g install 62
        pio ci --lib="." --board=esp32doit-devkit-v1 --board=az-delivery-devkit-v4
      env:
        PLATFORMIO_CI_SRC: ${{ matrix.example }}
